head {
  color: aqua;
    text-align: center;
    padding: 2px;
    position: fixed;
    top: 5px;
    width: 100%;
  }
  .container-card {
    border: 40px solid rgb(25, 25, 231);
  }
  .navbar {
align-self: start;
color: mediumblue;
  }  
  body {
    background-color: lightseagreen;
  }
  .navbar {
    display: flex;
}
.quizcard {
  background-color: aquamarine;
}
.navigation {
  display: flex;
  position: fixed; 
  bottom: 5px;
  background-color: aquamarine;
}