header {
    color: aqua;
    text-align: center;
    padding: 2px;
    position: fixed;
    top: 5px;
    width: 100%;
  }
  .container-card {
    border: 40px solid rgb(43, 43, 82);
  }
  .navbar {
align-self: start;
color: mediumblue;
  }  